#one {
  width: 480px;
  height: 75px;
  background-color: red;
  line-height: 75px;
}
#two {
  width: 480px;
  height: 150px;
  background-color: blue;
  line-height: 150px;
}
#three {
  width: 480px;
  height: 125px;
  background-color: green;
  line-height: 125px;
}
#four {
  width: 480px;
  height: 125px;
  background-color: yellow;
  line-height: 125px;
}

#five {
  width: 240px;
  height: 250px;
  background-color: black;
  line-height: 250px;
}
#six {
  width: 240px;
  height: 250px;
  background-color: white;
  line-height: 250px;
}
#seven {
  width: 240px;
  height: 250px;
  background-color: purple;
  line-height: 250px;
}
#eight {
  width: 240px;
  height: 250px;
  background-color: cyan;
  line-height: 250px;
}
#nine {
  width: 480px;
  height: 80px;
  background-color: orange;
  line-height: 80px;
}
  
   
  
